<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${board.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/getBoard.css}">
</head>
<body>
<input type="hidden" id="message" th:value="${message}" />
    <div class="top_button_list">
        <button onclick="back()">전체 게시글 목록</button>
        <button onclick="deleteboard()">삭제하기</button>
        <button onclick="updateboard()">수정하기</button>
    </div>
    <p class="boardID" th:text="${board.board_id}"></p>
    <div class="normal_board" th:if="${board.tab=='일반'}">
        <button onclick="window.location.href='/board/normal'">일반 게시글 목록으로</button>
        <h1 id="nomal_title" th:text="${board.title}"></h1>

        <div class="boardElement">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.content}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.user_login_Id}"></p>
        </div>

    </div>

    <div class="review_board" th:if="${board.tab=='리뷰'}">
        <button onclick="window.location.href='/board/review'">리뷰 게시글 목록으로</button>
        <h1 id="review_title" th:text="${board.title}"></h1>

        <div class="boardElement">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.content}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.attraction_Name}"></p>
        </div>

        <div class="boardElement">
            <p>리뷰 평점</p>
            <p th:text="${board.rate}"></p>
        </div>

        <!-- 리뷰 이미지 목록 -->
        <div class="boardElement">
            <div th:each="image : ${board.boardImages}">
                <div class="imageElement">
                    <p th:text="${image.name}"></p>
                    <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지" />
                </div>
            </div>
        </div>
    </div>

    <div class="inquiry_board" th:if="${board.tab=='문의'}">
        <button onclick="window.location.href='/board/inquiry'">문의 게시글 목록으로</button>
        <h1 id="inquiry_title" th:text="${board.title}"></h1>

        <div class="boardElement">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.content}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.attraction_Name}"></p>
        </div>

        <!-- 문의 이미지 목록 -->
        <div class="boardElement">
            <div th:each="image : ${board.boardImages}">
                <div class="imageElement">
                    <p th:text="${image.name}"></p>
                    <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지" />
                </div>
            </div>
        </div>

    </div>

    <div class="report_board" th:if="${board.tab=='신고'}">
        <button onclick="window.location.href='/board/report'">신고 게시글 목록으로</button>
        <h1 id="report_title" th:text="${board.title}"></h1>

        <div class="boardElement">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.content}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.attraction_Name}"></p>
        </div>

        <!-- 신고 이미지 목록 -->
        <div class="boardElement">
            <div th:each="image : ${board.boardImages}">
                <div class="imageElement">
                    <p th:text="${image.name}"></p>
                    <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지" />
                </div>
            </div>
        </div>

    </div>

    <div class="announce_board" th:if="${board.tab=='공지'}">
        <button onclick="window.location.href='/board/announce'">공지 게시글 목록으로</button>
        <label for="announce_title">공지</label>
        <h1 id="announce_title" th:text="${board.title}"></h1>

        <div class="boardElement">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.content}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <p th:text="${board.attraction_Name}"></p>
        </div>

        <!-- 공지 이미지 목록 -->
        <div class="boardElement">
            <div th:each="image : ${board.boardImages}">
                <div class="imageElement">
                    <p th:text="${image.name}"></p>
                    <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지"/>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" th:src="@{/js/getBoard.js}"></script>
</body>
</html>