<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지역 등록</title>
    <script src="/js/alert.js"></script>
    <script src="/js/area.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
  <h2>지역 등록 페이지</h2>
  <form action="/area/save" method="post">
    <label for="country">국가</label><input type="text" id="country" name="country"><br/>
    <label for="city">도시</label><input type="text" id="city" name="city"><br/>
    <button type="submit">등록</button>
  </form>
  <button onclick="areaListLink()">지역 리스트 확인</button>

<script th:inline="javascript">
    alertMessage([[${message}]])
</script>

</body>
</html>