<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관광지 등록</title>
    <script src="/js/alert.js"></script>
    <script src="/js/attractionLink.js" defer></script>
    <script src="/js/attractionFormValidate.js" defer></script>
    <script src="/js/attractionFunction.js" defer></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>관광지 등록 페이지</h2>
<form action="/attraction/save" method="post" id="saveForm" enctype="multipart/form-data">
    <div>
        <h3>관광지 사진</h3>
        <img src="/files/default.png" alt="업로드된 이미지" width="300" id="previewImage">
    </div>
    <label for="name">이름</label><input type="text" id="name" name="name" maxlength="10" required><br/>
    <p id="error-message-name"></p>
    <label for="price">가격</label><input type="number" id="price" name="price" maxlength="10" required><br/>
    <p id="error-message-price"></p>
    <label for="openTime">여는시간</label><input type="time" id="openTime" name="openTime" value="09:00"><br/>
    <label for="closeTime">닫는시간</label><input type="time" id="closeTime" name="closeTime" value="18:00"><br/>
    <label for="explanation">설명</label><textarea id="explanation" name="explanation" maxlength="100"></textarea><br/>
    <label for="areaId">지역</label>
    <select id="areaId" name="areaId">
        <option th:each="areaDto : ${areaDtoList}" th:value="${areaDto.getId()}" th:text="|${areaDto.getCountry()} : ${areaDto.getCity()}|"></option>
    </select><br/>
    <fieldset>
        <legend>관광지 구분을 선택하세요.</legend>
        <div th:each="attractionTypeDto : ${attractionTypeDtoList}">
            <label th:for="${attractionTypeDto.getId()}" th:text="${attractionTypeDto.getType()}"></label>
            <input type="checkbox" th:id="${attractionTypeDto.getId()}" name="attractionTypeDtoIdList" th:value="${attractionTypeDto.getId()}"/>
        </div>
    </fieldset><br/>
    <p id="error-message-type"></p>
    <label for="img">사진</label><input type="file" id="img" name="img"><br/>
    <button type="submit">등록</button>
</form>
<button onclick="attractionListLink()">관광지 리스트 확인</button>

<script th:inline="javascript">
    alertMessage([[${message}]])
</script>



</body>
</html>