<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 입력</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/insertBoardForm.css}">
</head>
<body>
<div class="normal_form" th:if="${tab =='일반'}">
    <form th:object="${boardDto}" action="/board/insertBoard" method="post">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <div class="board_element">
            <label for="id_title">게시글 제목</label>
            <br>
            <input type="text" id="id_title" name="title" >
        </div>
        <br>

        <div class="board_element">
            <label for="id_tab">게시글 탭</label>
            <input type="hidden" name="tab" th:value="${tab}">
            <p id="id_tab" th:text="${tab}"></p>
        </div>
        <br>

        <div class="board_element">
            <label for="id_content">게시글 내용</label>
            <br>
            <textarea id="id_content" name="content" rows="10" cols="30"></textarea>
        </div>
        <br>

        <div class="board_element">
            <label for="id_writer">작성자 아이디</label>
            <input type="hidden" name="user_login_Id" th:value="${writer}">
            <p id="id_writer" th:text="${writer}"></p>
        </div>
        <br>

    </form>

</div>

<div class="review_from" th:if="${tab =='리뷰'}">
    <form th:object="${boardDto}" action="/board/insertBoard" method="post">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <div class="board_element">
            <label for="review_title">게시글 제목</label>
            <br>
            <input type="text" id="review_title" name="title" >
        </div>
        <br>

        <div class="board_element">
            <label for="review_tab">게시글 탭</label>
            <input type="hidden" name="tab" th:value="${tab}">
            <p id="review_tab" th:text="${tab}"></p>
        </div>
        <br>

        <div class="board_element">
            <label for="review_content">게시글 내용</label>
            <br>
            <textarea id="review_content" name="content" rows="10" cols="30"></textarea>
        </div>
        <br>

        <div class="board_element">
            <label for="review_writer">작성자 아이디</label>
            <input type="hidden" name="user_login_Id" th:value="${writer}">
            <p id="review_writer" th:text="${writer}"></p>
        </div>
        <br>

        <div class="board_element">
            <label>관광지(아래 목록중 선택!!)</label>
            <!--관광지 선택 라디오 버튼-->
            <div class="toggle_element">
                <button type="button" class="toggle_button" onclick="toggleAction()">펼치기</button>
            </div>

            <div class="attractionList_element">

            <div class="attractionList_select" th:if="${attractionList != null and !attractionList.isEmpty()}">
                <div th:each="attraction, iterStat : ${attractionList}">
                    <input type="radio" th:id="'review_attraction' + ${iterStat.index}"
                           name="attraction_id" th:value="${attraction.id}"
                           th:data-name="${attraction.name}"/>
                    <label th:for="'review_attraction' + ${iterStat.index}"
                           th:text="${attraction.name}"></label>
                </div>
            </div>

            <input type="radio" id="review_attraction_other" name="attractionName" value="other" />
            <label for="review_attraction_other">기타(관리자가 검토)</label>
            <input type="text" id="review_attraction_input" name="attraction_Name" placeholder="직접 입력" />

            <!--관광지 평점, 설명, 개장시간, 폐장시간, 지역(리뷰 참고용)-->
            <table class="attraction_table">
                <thead>
                    <tr>
                        <th>관광지</th>
                        <th>평점</th>
                        <th>설명</th>
                        <th>개장시간</th>
                        <th>폐장시간</th>
                        <th>지역</th>
                    </tr>
                </thead>
                <div th:if="${attractionList != null and !attractionList.isEmpty()}">
                    <tr class="attraction_row" th:each="attraction : ${attractionList}">
                        <td th:text="${attraction.name}"></td>
                        <td th:text="${attraction.avgrate}"></td>
                        <td th:text="${attraction.explanation}"></td>
                        <td th:text="${attraction.openTime}"></td>
                        <td th:text="${attraction.closeTime}"></td>
                        <td th:text="${attraction.area}"></td>
                    </tr>
                </div>
                <div th:if="${attractionList == null or attractionList.isEmpty()}">
                    <h3>관광지 정보가 없습니다.</h3>
                </div>
            </table>
            </div>
        </div>

        <div class="board_element">
            <label for="review_rate">별점</label>
            <input type="range" id="review_rate" name="rate" min="1" max="5" step="1">
        </div>

        <div class="board_element">
            <label for="review_image">리뷰 이미지 업로드</label>
            <input class="board_image" type="file" id="review_image" name="tempImage" />
            <button class="uploadBtn" type="button">업로드</button>

        </div>
        <div class="board_image_result">

        </div>
        <br>

    </form>

</div>

<div class="inquiry_form" th:if="${tab =='문의'}">
    <form th:object="${boardDto}" action="/board/insertBoard" method="post">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <div class="board_element">
            <label for="inquiry_title">게시글 제목</label>
            <br>
            <input type="text" id="inquiry_title" name="title" >
        </div>
        <br>

        <div class="board_element">
            <label for="inquiry_tab">게시글 탭</label>
            <input type="hidden" name="tab" th:value="${tab}">
            <p id="inquiry_tab" th:text="${tab}"></p>
        </div>
        <br>

        <div class="board_element">
            <label for="inquiry_content">게시글 내용</label>
            <br>
            <textarea id="inquiry_content" name="content" rows="10" cols="30"></textarea>
        </div>
        <br>

        <div class="board_element">
            <label for="inquiry_writer">작성자 아이디</label>
            <input type="hidden" name="user_login_Id" th:value="${writer}">
            <p id="inquiry_writer" th:text="${writer}"></p>
        </div>
        <br>

        <div class="board_element">
            <label>관광지(아래 목록중 선택!!)</label>
            <!--관광지 선택 라디오 버튼-->
            <div class="toggle_element">
                <button type="button" class="toggle_button" onclick="toggleAction()">펼치기</button>
            </div>

            <div class="attractionList_element">

                <div class="attractionList_select" th:if="${attractionList != null and !attractionList.isEmpty()}">
                    <div th:each="attraction, iterStat : ${attractionList}">
                        <input type="radio" th:id="'inquiry_attraction' + ${iterStat.index}"
                               name="attraction_id" th:value="${attraction.id}"
                               th:data-name="${attraction.name}"/>
                        <label th:for="'inquiry_attraction' + ${iterStat.index}"
                               th:text="${attraction.name}"></label>
                    </div>
                </div>

                <input type="radio" id="inquiry_attraction_other" name="attractionName" value="other" />
                <label for="inquiry_attraction_other">기타(관리자가 검토)</label>
                <input type="text" id="inquiry_attraction_input" name="attraction_Name" placeholder="직접 입력" />

                <!--관광지 평점, 설명, 개장시간, 폐장시간, 지역(리뷰 참고용)-->
                <table class="attraction_table">
                    <thead>
                    <tr>
                        <th>관광지</th>
                        <th>평점</th>
                        <th>설명</th>
                        <th>개장시간</th>
                        <th>폐장시간</th>
                        <th>지역</th>
                    </tr>
                    </thead>
                    <div th:if="${attractionList != null and !attractionList.isEmpty()}">
                        <tr class="attraction_row" th:each="attraction : ${attractionList}">
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.avgrate}"></td>
                            <td th:text="${attraction.explanation}"></td>
                            <td th:text="${attraction.openTime}"></td>
                            <td th:text="${attraction.closeTime}"></td>
                            <td th:text="${attraction.area}"></td>
                        </tr>
                    </div>
                    <div th:if="${attractionList == null or attractionList.isEmpty()}">
                        <h3>관광지 정보가 없습니다.</h3>
                    </div>
                </table>
            </div>
        </div>


        <div class="board_element">
            <label for="inquiry_image">문의 이미지 업로드</label>
            <input class="board_image" type="file" id="inquiry_image" name="tempImage" />
            <button class="uploadBtn" type="button">업로드</button>
        </div>
        <div class="board_image_result">

        </div>

    </form>

</div>

<div class="report_form" th:if="${tab =='신고'}">
    <form th:object="${boardDto}" action="/board/insertBoard" method="post">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <div class="board_element">
            <label for="report_title">게시글 제목</label>
            <br>
            <input type="text" id="report_title" name="title" >
        </div>
        <br>

        <div class="board_element">
            <label for="report_tab">게시글 탭</label>
            <input type="hidden" name="tab" th:value="${tab}">
            <p id="report_tab" th:text="${tab}"></p>
        </div>
        <br>

        <div class="board_element">
            <label for="report_content">게시글 내용</label>
            <br>
            <textarea id="report_content" name="content" rows="10" cols="30"></textarea>
        </div>
        <br>

        <div class="board_element">
            <label for="report_writer">작성자 아이디</label>
            <input type="hidden" name="user_login_Id" th:value="${writer}">
            <p id="report_writer" th:text="${writer}"></p>
        </div>
        <br>

        <div class="board_element">
            <label>관광지(아래 목록중 선택!!)</label>
            <!--관광지 선택 라디오 버튼-->
            <div class="toggle_element">
                <button type="button" class="toggle_button" onclick="toggleAction()">펼치기</button>
            </div>

            <div class="attractionList_element">

                <div class="attractionList_select" th:if="${attractionList != null and !attractionList.isEmpty()}">
                    <div th:each="attraction, iterStat : ${attractionList}">
                        <input type="radio" th:id="'report_attraction' + ${iterStat.index}"
                               name="attraction_id" th:value="${attraction.id}"
                               th:data-name="${attraction.name}"/>
                        <label th:for="'report_attraction' + ${iterStat.index}"
                               th:text="${attraction.name}"></label>
                    </div>
                </div>

                <input type="radio" id="report_attraction_other" name="attractionName" value="other" />
                <label for="report_attraction_other">기타(관리자가 검토)</label>
                <input type="text" id="report_attraction_input" name="attraction_Name" placeholder="직접 입력" />

                <!--관광지 평점, 설명, 개장시간, 폐장시간, 지역(리뷰 참고용)-->
                <table class="attraction_table">
                    <thead>
                    <tr>
                        <th>관광지</th>
                        <th>평점</th>
                        <th>설명</th>
                        <th>개장시간</th>
                        <th>폐장시간</th>
                        <th>지역</th>
                    </tr>
                    </thead>
                    <div th:if="${attractionList != null and !attractionList.isEmpty()}">
                        <tr class="attraction_row" th:each="attraction : ${attractionList}">
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.avgrate}"></td>
                            <td th:text="${attraction.explanation}"></td>
                            <td th:text="${attraction.openTime}"></td>
                            <td th:text="${attraction.closeTime}"></td>
                            <td th:text="${attraction.area}"></td>
                        </tr>
                    </div>
                    <div th:if="${attractionList == null or attractionList.isEmpty()}">
                        <h3>관광지 정보가 없습니다.</h3>
                    </div>
                </table>
            </div>
        </div>

        <div class="board_element">
            <label for="report_image">신고 이미지 업로드</label>
            <input class="board_image" type="file" id="report_image" name="tempImage" />
            <button class="uploadBtn" type="button">업로드</button>
        </div>
        <div class="board_image_result">

        </div>
    </form>

</div>

<div class="announce_form" th:if="${tab =='공지'}">
    <form th:object="${boardDto}" action="/board/insertBoard" method="post">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <div class="board_element">
            <label for="announce_title">게시글 제목</label>
            <br>
            <input type="text" id="announce_title" name="title" >
        </div>
        <br>

        <div class="board_element">
            <label for="announce_tab">게시글 탭</label>
            <input type="hidden" name="tab" th:value="${tab}">
            <p id="announce_tab" th:text="${tab}"></p>
        </div>
        <br>

        <div class="board_element">
            <label for="announce_content">게시글 내용</label>
            <br>
            <textarea id="announce_content" name="content" rows="10" cols="30"></textarea>
        </div>
        <br>

        <div class="board_element">
            <label for="announce_writer">작성자 아이디</label>
            <input type="hidden" name="user_login_Id" th:value="${writer}">
            <p id="announce_writer" th:text="${writer}"></p>
        </div>
        <br>

        <div class="board_element">
            <label for="announce_image">공지 이미지 업로드</label>
            <input class="board_image" type="file" id="announce_image" name="tempImage" />
            <button class="uploadBtn" type="button">업로드</button>

        </div>
        <div class="board_image_result">

        </div>

    </form>

</div>
<div class="boardImageList">

</div>
    <button class="boardFormTempSubmit">임시저장</button>
    <button class="boardFormSubmit">작성</button>
    <a href="/board/list">목록으로</a>
<script rel="text/javascript" th:src="@{/js/InsertBoardForm.js}"></script>
</body>
</html>