<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myPage</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script>
        function toggleForm(formId) {
            const form = document.getElementById(formId);
            form.classList.toggle("hidden");
        }
    </script>
</head>
<body>
<h2>마이 페이지</h2>
<p>아이디: <span th:text="${user.userLoginId}"></span></p>
<p>유저 타입: <span th:text="${user.userType}"></span></p>
<p>생년월일: <span th:text="${user.birthDate}"></span></p>
<p>등급: <span th:text="${user.grade}"></span></p>

<hr>

<h3>예약한 관광지 보기</h3>
<button class="button" onclick="toggleForm('reservationList')">예약 관광지 보기</button>
<div id="reservationList" class="hidden">
    <h3>내가 예약한 관광지</h3>
    <table>
        <thead>
        <tr>
            <th>예약 ID</th>
            <th>관광지 이름</th>
            <th>예약 날짜</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.attraction.name}"></td>
            <td th:text="${#strings.substringBefore(reservation.reservedate.toString(), 'T')}"></td>
            <td>
                <form th:action="@{/user/reservation/delete/{id}(id=${reservation.id})}" method="post">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<h3>화면 열기</h3>
<button class="button" onclick="toggleForm('updatePasswordForm')">비밀번호 변경</button>
<form id="updatePasswordForm" class="hidden" action="/user/update" method="post">
    현재 비밀번호: <input type="password" name="currentPassword" placeholder="현재 비밀번호" required/><br>
    새 비밀번호: <input type="password" name="newPassword" placeholder="새 비밀번호" required/><br>
    비밀번호 확인: <input type="password" name="confirmNewPassword" placeholder="비밀번호 확인" required/><br>
    <input type="submit" value="비밀번호 변경"/>
</form>

<hr>

<h3>화면 열기</h3>
<button class="button" onclick="toggleForm('deleteForm')">회원 탈퇴</button>
<form id="deleteForm" class="hidden" action="/user/delete" method="post" onsubmit="return confirm('정말로 탈퇴하시겠습니까?');">
    <input type="password" name="password" placeholder="비밀번호" required/><br>
    <input type="submit" value="회원 탈퇴"/>
</form>
</body>
</html>
