<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정화면</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/updateBoard.css}">
</head>
<body>
<form class="submitForm" th:action="@{/board/updateBoard/{id}(id=${board.board_id})}" method="post" th:object="${boardDto}">
    <input type="hidden" class="board_id" name="board_id" th:value="${board.board_id}">
    <div class="normal_form" th:if="${tab =='일반'}">

        <div class="boardElement">
            <label>제목</label>
            <input type="text" id="normal_title" name="title" th:value="${board.title}">
        </div>

        <div class="boardElement">
            <input type="hidden" name="tab" th:value="${board.tab}">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <label>작성자</label>
            <input type="hidden" class="user_id" name="user_id" th:value="${board.user_id}">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <label>내용</label>
            <textarea class="content" name="content" rows="10" cols="50" th:text="${board.content}"></textarea>
        </div>

    </div>

    <div class="review_from" th:if="${tab =='리뷰'}">

        <div class="boardElement">
            <label for="review_title">제목</label>
            <input type="text" id="review_title" name="title" th:value="${board.title}">
        </div>

        <div class="boardElement">
            <input type="hidden" name="tab" th:value="${board.tab}">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <label>작성자</label>
            <input type="hidden" class="user_id" name="user_id" th:value="${board.user_id}">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <label for="review_content">내용</label>
            <textarea class="content" id="review_content" name="content" rows="10" cols="50" th:text="${board.content}"></textarea>
        </div>

        <div class="boardElement">
            <p>기존 관광지</p>
            <input type="text" th:value="${board.attraction_Name}"> </input>
        </div>


        <div class="board_element">
            <p>새로 선택할 관광지</p>
            <label>관광지(아래 목록중 선택!!)</label>
            <!--관광지 선택 라디오 버튼-->
            <div class="toggle_element">
                <button type="button" class="toggle_button" onclick="toggleAction()">펼치기</button>
            </div>

            <div class="attractionList_element">
                <div class="attractionList_select" th:if="${attractionList != null and !attractionList.isEmpty()}">
                    <div th:each="attraction, iterStat : ${attractionList}">
                        <input type="radio" th:id="'review_attraction_update' + ${iterStat.index}"
                               name="attraction_id" th:value="${attraction.id}"
                               th:data-name="${attraction.name}"/>
                        <label th:for="'review_attraction_update' + ${iterStat.index}"
                               th:text="${attraction.name}"></label>
                    </div>
                </div>

                <input type="radio" id="review_attraction_other_update" name="attractionName" value="other" />
                <label for="review_attraction_other_update">기타(관리자가 검토)</label>
                <input type="text" id="review_attraction_input_update" name="attraction_Name" placeholder="직접 입력" />

                <!--관광지 평점, 설명, 개장시간, 폐장시간, 지역(리뷰 참고용)-->
                <table class="attraction_table">
                    <thead>
                    <tr>
                        <th>관광지</th>
                        <th>평점</th>
                        <th>설명</th>
                        <th>개장시간</th>
                        <th>폐장시간</th>
                        <th>지역</th>
                    </tr>
                    </thead>
                    <div th:if="${attractionList != null and !attractionList.isEmpty()}">
                        <tr class="attraction_row" th:each="attraction : ${attractionList}">
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.avgrate}"></td>
                            <td th:text="${attraction.explanation}"></td>
                            <td th:text="${attraction.openTime}"></td>
                            <td th:text="${attraction.closeTime}"></td>
                            <td th:text="${attraction.area}"></td>
                        </tr>
                    </div>
                    <div th:if="${attractionList == null or attractionList.isEmpty()}">
                        <h3>관광지 정보가 없습니다.</h3>
                    </div>
                </table>
            </div>
        </div>

        <!-- 기존 이미지를 출력하면서, 위의 x 버튼을 통해 삭제 시킬 수 있으며 해당 영역 내에 이미지를 올리면 옆에 추가되는 방식으로 보여준다-->
        <!-- -->
        <div class="boardElement">
            <p>새로운 이미지 목록</p>
            <input type="file" class="imageUpload" name="tempImage" multiple accept="image/jpeg, image/png">
            <button class="updateTempUpload">추가 업로드</button>

            <div class="updateImageList">
                <div class="updateImageListInner">
                    <div th:if="${board.boardImages != null}">
                    <div th:each="image : ${board.boardImages}">
                    <div class="updateImageElement">
                        <input type="hidden" name="UUID" th:value="${image.UUID}">
                        <input type="hidden" name="UUIDName" th:value="${image.UUIDName}">
                        <button type="button" class="tempUpdateImageDeleteBtn" onclick="deleteImage(this)">X</button>
                        <p th:text="${image.name}+'(기존)'"></p>
                        <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지" />
                    </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="boardElement">
            <label>평점</label>
            <input type="number" id="rate" name="rate" min="1" max="5" th:value="${board.rate}">
        </div>
    </div>


    <div class="inquiry_form" th:if="${tab =='문의'}">

        <div class="boardElement">
            <label for="inquiry_title">제목</label>
            <input type="text" id="inquiry_title" name="title" th:value="${board.title}">
        </div>

        <div class="boardElement">
            <input type="hidden" name="tab" th:value="${board.tab}">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <label>작성자</label>
            <input type="hidden" class="user_id" name="user_id" th:value="${board.user_id}">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <label for="inquiry_content">내용</label>
            <textarea class="content" id="inquiry_content" name="content" rows="10" cols="50" th:text="${board.content}"></textarea>
        </div>

        <div class="boardElement">
            <p>기존 관광지</p>
            <input type="text" th:value="${board.attraction_Name}"> </input>
        </div>


        <div class="board_element">
            <p>새로 선택할 관광지</p>
            <label>관광지(아래 목록중 선택!!)</label>
            <!--관광지 선택 라디오 버튼-->
            <div class="toggle_element">
                <button type="button" class="toggle_button" onclick="toggleAction()">펼치기</button>
            </div>

            <div class="attractionList_element">
                <div class="attractionList_select" th:if="${attractionList != null and !attractionList.isEmpty()}">
                    <div th:each="attraction, iterStat : ${attractionList}">
                        <input type="radio" th:id="'inquiry_attraction_update' + ${iterStat.index}"
                               name="attraction_id" th:value="${attraction.id}"
                               th:data-name="${attraction.name}"/>
                        <label th:for="'inquiry_attraction_update' + ${iterStat.index}"
                               th:text="${attraction.name}"></label>
                    </div>
                </div>

                <input type="radio" id="inquiry_attraction_other_update" name="attractionName" value="other" />
                <label for="inquiry_attraction_other_update">기타(관리자가 검토)</label>
                <input type="text" id="inquiry_attraction_input_update" name="attraction_Name" placeholder="직접 입력" />

                <!--관광지 평점, 설명, 개장시간, 폐장시간, 지역(리뷰 참고용)-->
                <table class="attraction_table">
                    <thead>
                    <tr>
                        <th>관광지</th>
                        <th>평점</th>
                        <th>설명</th>
                        <th>개장시간</th>
                        <th>폐장시간</th>
                        <th>지역</th>
                    </tr>
                    </thead>
                    <div th:if="${attractionList != null and !attractionList.isEmpty()}">
                        <tr class="attraction_row" th:each="attraction : ${attractionList}">
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.avgrate}"></td>
                            <td th:text="${attraction.explanation}"></td>
                            <td th:text="${attraction.openTime}"></td>
                            <td th:text="${attraction.closeTime}"></td>
                            <td th:text="${attraction.area}"></td>
                        </tr>
                    </div>
                    <div th:if="${attractionList == null or attractionList.isEmpty()}">
                        <h3>관광지 정보가 없습니다.</h3>
                    </div>
                </table>
            </div>
        </div>

        <!-- 기존 이미지를 출력하면서, 위의 x 버튼을 통해 삭제 시킬 수 있으며 해당 영역 내에 이미지를 올리면 옆에 추가되는 방식으로 보여준다-->
        <!-- -->
        <div class="boardElement">
            <p>새로운 이미지 목록</p>
            <input type="file" class="imageUpload" name="tempImage" multiple accept="image/jpeg, image/png">
            <button class="updateTempUpload">추가 업로드</button>


            <div class="updateImageList">
                <div class="updateImageListInner">
                    <div th:if="${board.boardImages != null}">
                        <div th:each="image : ${board.boardImages}">
                            <div class="updateImageElement">
                                <input type="hidden" name="UUID" th:value="${image.UUID}">
                                <input type="hidden" name="UUIDName" th:value="${image.UUIDName}">
                                <button type="button" class="tempUpdateImageDeleteBtn" onclick="deleteImage(this)">X</button>
                                <p th:text="${image.name}+'(기존)'"></p>
                                <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="report_form" th:if="${tab =='신고'}">

        <div class="boardElement">
            <label for="report_title">제목</label>
            <input type="text" id="report_title" name="title" th:value="${board.title}">
        </div>

        <div class="boardElement">
            <input type="hidden" name="tab" th:value="${board.tab}">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <label>작성자</label>
            <input type="hidden" class="user_id" name="user_id" th:value="${board.user_id}">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <label for="report_content">내용</label>
            <textarea class="content" id="report_content" name="content" rows="10" cols="50" th:text="${board.content}"></textarea>
        </div>

        <div class="boardElement">
            <p>기존 관광지</p>
            <input type="text" th:value="${board.attraction_Name}"> </input>
        </div>


        <div class="board_element">
            <p>새로 선택할 관광지</p>
            <label>관광지(아래 목록중 선택!!)</label>
            <!--관광지 선택 라디오 버튼-->
            <div class="toggle_element">
                <button type="button" class="toggle_button" onclick="toggleAction()">펼치기</button>
            </div>

            <div class="attractionList_element">
                <div class="attractionList_select" th:if="${attractionList != null and !attractionList.isEmpty()}">
                    <div th:each="attraction, iterStat : ${attractionList}">
                        <input type="radio" th:id="'report_attraction_update' + ${iterStat.index}"
                               name="attraction_id" th:value="${attraction.id}"
                               th:data-name="${attraction.name}"/>
                        <label th:for="'report_attraction_update' + ${iterStat.index}"
                               th:text="${attraction.name}"></label>
                    </div>
                </div>

                <input type="radio" id="report_attraction_other_update" name="attractionName" value="other" />
                <label for="report_attraction_other_update">기타(관리자가 검토)</label>
                <input type="text" id="report_attraction_input_update" name="attraction_Name" placeholder="직접 입력" />

                <!--관광지 평점, 설명, 개장시간, 폐장시간, 지역(리뷰 참고용)-->
                <table class="attraction_table">
                    <thead>
                    <tr>
                        <th>관광지</th>
                        <th>평점</th>
                        <th>설명</th>
                        <th>개장시간</th>
                        <th>폐장시간</th>
                        <th>지역</th>
                    </tr>
                    </thead>
                    <div th:if="${attractionList != null and !attractionList.isEmpty()}">
                        <tr class="attraction_row" th:each="attraction : ${attractionList}">
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.avgrate}"></td>
                            <td th:text="${attraction.explanation}"></td>
                            <td th:text="${attraction.openTime}"></td>
                            <td th:text="${attraction.closeTime}"></td>
                            <td th:text="${attraction.area}"></td>
                        </tr>
                    </div>
                    <div th:if="${attractionList == null or attractionList.isEmpty()}">
                        <h3>관광지 정보가 없습니다.</h3>
                    </div>
                </table>
            </div>
        </div>

        <!-- 기존 이미지를 출력하면서, 위의 x 버튼을 통해 삭제 시킬 수 있으며 해당 영역 내에 이미지를 올리면 옆에 추가되는 방식으로 보여준다-->
        <!-- -->
        <div class="boardElement">
            <p>새로운 이미지 목록</p>
            <input type="file" class="imageUpload" name="tempImage" multiple accept="image/jpeg, image/png">
            <button class="updateTempUpload">추가 업로드</button>


            <div class="updateImageList">
                <div class="updateImageListInner">
                    <div th:if="${board.boardImages != null}">
                        <div th:each="image : ${board.boardImages}">
                            <div class="updateImageElement">
                                <input type="hidden" name="UUID" th:value="${image.UUID}">
                                <input type="hidden" name="UUIDName" th:value="${image.UUIDName}">
                                <button type="button" class="tempUpdateImageDeleteBtn" onclick="deleteImage(this)">X</button>
                                <p th:text="${image.name}+'(기존)'"></p>
                                <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="announce_form" th:if="${tab =='공지'}">

        <div class="boardElement">
            <label for="announce_title">제목</label>
            <input type="text" id="announce_title" name="title" th:value="${board.title}">
        </div>

        <div class="boardElement">
            <input type="hidden" name="tab" th:value="${board.tab}">
            <p th:text="${board.tab}"></p>
        </div>

        <div class="boardElement">
            <label>작성자</label>
            <input type="hidden" class="user_id" name="user_id" th:value="${board.user_id}">
            <p th:text="${board.user_login_Id}"></p>
        </div>

        <div class="boardElement">
            <label for="announce_content">내용</label>
            <textarea class="content" id="announce_content" name="content" rows="10" cols="50" th:text="${board.content}"></textarea>
        </div>

        <div class="boardElement">
            <p>기존 관광지</p>
            <input type="text" th:value="${board.attraction_Name}"> </input>
        </div>


        <div class="board_element">
            <p>새로 선택할 관광지</p>
            <label>관광지(아래 목록중 선택!!)</label>
            <!--관광지 선택 라디오 버튼-->
            <div class="toggle_element">
                <button type="button" class="toggle_button" onclick="toggleAction()">펼치기</button>
            </div>

            <div class="attractionList_element">
                <div class="attractionList_select" th:if="${attractionList != null and !attractionList.isEmpty()}">
                    <div th:each="attraction, iterStat : ${attractionList}">
                        <input type="radio" th:id="'announce_attraction_update' + ${iterStat.index}"
                               name="attraction_id" th:value="${attraction.id}"
                               th:data-name="${attraction.name}"/>
                        <label th:for="'review_attraction_update' + ${iterStat.index}"
                               th:text="${attraction.name}"></label>
                    </div>
                </div>

                <input type="radio" id="announce_attraction_other_update" name="attractionName" value="other" />
                <label for="announce_attraction_other_update">기타(관리자가 검토)</label>
                <input type="text" id="announce_attraction_input_update" name="attraction_Name" placeholder="직접 입력" />

                <!--관광지 평점, 설명, 개장시간, 폐장시간, 지역(리뷰 참고용)-->
                <table class="attraction_table">
                    <thead>
                    <tr>
                        <th>관광지</th>
                        <th>평점</th>
                        <th>설명</th>
                        <th>개장시간</th>
                        <th>폐장시간</th>
                        <th>지역</th>
                    </tr>
                    </thead>
                    <div th:if="${attractionList != null and !attractionList.isEmpty()}">
                        <tr class="attraction_row" th:each="attraction : ${attractionList}">
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.avgrate}"></td>
                            <td th:text="${attraction.explanation}"></td>
                            <td th:text="${attraction.openTime}"></td>
                            <td th:text="${attraction.closeTime}"></td>
                            <td th:text="${attraction.area}"></td>
                        </tr>
                    </div>
                    <div th:if="${attractionList == null or attractionList.isEmpty()}">
                        <h3>관광지 정보가 없습니다.</h3>
                    </div>
                </table>
            </div>
        </div>

        <!-- 기존 이미지를 출력하면서, 위의 x 버튼을 통해 삭제 시킬 수 있으며 해당 영역 내에 이미지를 올리면 옆에 추가되는 방식으로 보여준다-->
        <!-- -->
        <div class="boardElement">
            <p>새로운 이미지 목록</p>
            <input type="file" class="imageUpload" name="tempImage" multiple accept="image/jpeg, image/png">
            <button class="updateTempUpload">추가 업로드</button>


            <div class="updateImageList">
                <div class="updateImageListInner">
                    <div th:if="${board.boardImages != null}">
                        <div th:each="image : ${board.boardImages}">
                            <div class="updateImageElement">
                                <input type="hidden" name="UUID" th:value="${image.UUID}">
                                <input type="hidden" name="UUIDName" th:value="${image.UUIDName}">
                                <button type="button" class="tempUpdateImageDeleteBtn" onclick="deleteImage(this)">X</button>
                                <p th:text="${image.name}+'(기존)'"></p>
                                <img class="boardimgElement" th:src="@{/resources/upload/{UUIDName}(UUIDName=${image.UUIDName})}" alt="게시글 이미지" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</form>

    <div>
        <button class="updateBtn" onclick="submitFunction()">수정 완료</button>
    </div>
    <script rel="text/javascript" th:src="@{/js/updateBoard.js}"></script>
</body>
</html>