<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>전체 회원</title>
</head>
<body>
    <h2>유저 리스트</h2>
    <table>
        <tr>
            <th>순번</th>
            <th>유저id</th>
            <th>생년월일</th>
            <th>등급</th>
            <th>권한</th>
            <th>관광지id</th>
        </tr>
        <tr th:each="user: ${userList}">
            <td><a th:text="${user.id}" th:href="@{|/admin/user/${user.id}|}"></a></td>
            <td th:text="${user.userLoginId}"></td>
            <td th:text="${user.birthDate}"></td>
            <td th:text="${user.grade}"></td>
            <td th:text="${user.userType}"></td>
            <td th:text="${user.attraction != null ? user.attraction : 'X'}"></td>
        </tr>
    </table>
</body>
</html>